<div class="form-group">
    <label for="fname">std Name</label>
    <input type="text" id="fname" #fname class="form-control">
</div>
<div class="form-group">
    <label for="lname">std  Last name</label>
    <input type="text" id="lname" #lname class="form-control">
</div>
<div class="form-group">
    <label for="email">std Email</label>
    <input type="text" id="email" #email class="form-control">
</div>
<div class="form-group">
    <label for="contact">std Contact</label>
    <input type="text" id="contact" #contact class="form-control">
</div>
<div class="text-right">
    <button class="btn btn-primary"(click)="onstudentad()">student</button>
</div>



